{% extends 'base.html' %}

{% block title %}Contact us
{% endblock title %}
{% block body %}

{% comment %} Success Message Alert {% endcomment %}

{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
  <strong>{{ message }}</strong>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}

{% comment %} Contact layout {% endcomment %}
<div class="container-fluid contact ">
    <div class="container contact-head">
        <h1 class="text-center">Contact Us</h1>
    </div>
</div>

<!-- contact form  -->
<section class="container mt-5">
    <h1 class="text-center">Connect with us...</h1>
    <div class="container mt-2 contact-form">
        <form action="/contact" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name </label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name">
            </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email </label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone </label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Name">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Your Message</label>
            <textarea class="form-control" id="desc" name="desc" rows="3" placeholder="Enter Your Concern "></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Submit</button>
        </div>
    </form>
    </div>
</section>

{% endblock body %}